AIRFLOW_UID=197609
DATABRICKS_HOST=your-workspace.cloud.databricks.com
DATABRICKS_TOKEN=your_dbt_token_here
AIRFLOW_DATABRICKS_TOKEN=your_airflow_pat_token_here
CRICAPI_KEY=your_key_here

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-south-1
S3_BUCKET=ipl-analytics-raw-data

# Postgres (used by docker-compose)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow