.env
env/

# ignore all the folders named 'data'
**/data/

# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

__pycache__/
*.py[cod]
*$py.class
target/

# Docker
postgres-data/

# Airflow runtime logs
logs/

# DBT packages and targets
dbt/dbt_packages/*
dbt/target/*
dbt/profiles.yml